.favs{
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 162, 219);
    border: none;
    border-radius: 6px;
    text-transform: capitalize;
    text-align: center;
}

.image{
    display: flex;
    width: 98px;
    height: 98px;
    background:url("../imgs/favoriteBackground.jpg");
    background-size: 98px;
    border: none;
    border-radius: 50px;
    align-self: center;
    z-index: 1;
}

.image:hover{
    filter: blur(5px);
    transition: all ease-out 0.3s;
    align-content: center;
    z-index: 0;
}

.deleteText{
    position: absolute;
    align-self: center;
    user-select: none;
    margin-top: 55px;
    font-size: 20px;
    color:red;
    cursor: default;
    font-weight: bold;
    pointer-events: none;
    /*visibility: hidden;*/
}

.searchBar{
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-color: rgb(40, 162, 219);
    border-radius: 20px;
    outline: 0;
}

.searchBar:hover,
.searchBar:focus{
    border-color: crimson;
}